{# Previous/next page links - only displayed on page 2+ #}
{#
<div class="extra-pagination inner">
    {{pagination}}
</div>
#}
{# This is the post loop - each post will be output using this markup #}
{% for node in ctx.nav.loop(document.metadata.loop) %}
<article class="{{ node.document.metadata.article_class }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ node.url }}">{{ node.document.metadata.title}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{ node.document.excerpt(150) }} <a class="read-more" href="{{ node.url }}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {% if node.document.metadata.profile_image %}<img class="author-thumb" src="{{ node.document.metadata.profile_image }}" alt="{{ node.document.metadata.author }}" nopin="nopin" />{% endif %}
        {{ node.document.metadata.author }}
        {{ ctx.tags }}
        <time class="post-date" datetime="{{ node.document.metadata.date }}">{{ node.document.metadata.date }}</time>
    </footer>
</article>
{% endfor %}

{# Previous/next page links - displayed on every page #}
{#
{{pagination}}
#}
